<h3>Please enter your Login information!</h3>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Your Email</mat-label>
    <input matInput placeholder=" email " >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder=" password " >
  </mat-form-field>

</form>
<br>

<button routerLink="/dashboard" mat-raised-button color="primary">Login</button>

